.landing-footer {
    width: 100%;
    margin-top: 2rem;
    background-color: $dark-grey;

    &__container {
        padding: 3.5rem 6% 3.5rem 6%;

        @include screen(small) {
            padding: 3.5rem 5% 3.5rem 5%;
        }

        .footer-primary {
            text-align: center;

            .title {
                h3 {
                    color: #fff;
                    font-weight: bold;
                }
            }

            .subtitle {
                p {
                    color: #fff;
                }
            }

            .input {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;

                input {
                    border: 0;
                    height: 3rem;
                    border-radius: 25px;
                    width: 134%;
                    position: relative;
                    z-index: 5;
                    padding: 3px;
                    padding-left: 25px;
                }

                .btn {
                    color: #fff;
                    border-radius: 25px;
                    z-index: 10;
                    position: relative;
                    margin-top: 4px;
                    height: 85%;
                    padding-left: 35px;
                    padding-right: 35px;
                    background-color: $green;
                }
            }


            @include screen(small) {
                .input {
                    flex-direction: column;
                    align-items: center;
                    z-index: 20;
                    position: relative;

                    input {
                        width: 100%;
                    }

                    .btn {
                        margin-top: -73px;
                        left: 89%;
                        text-align: end;
                        position: relative;
                        z-index: 30;

                          @include screen-x(320px, 353px){
                            left: 75%;
                          }

                          @include screen-x(370px, 721px){
                            left: 92%;
                          }
                    }
                }
            }

        }

        .line-separation {
            height: 1px;
            width: 94%;
            margin: auto;
            margin-top: 3.7rem;
            background-color: #FFFFFF;
        }

        .footer-secondary {
            margin-top: 3rem;
            padding-left: 45px;
            padding-right: 45px;

            .section-appInfo {

                .logo {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    height: 100%;
                    align-items: center;

                    img {
                        width: 48px;
                        margin-top: -4px;
                    }

                    h5 {
                        color: #fff;
                        font-weight: bold;
                        margin-left: 10px;
                    }
                }

                .text {
                    margin-top: 15px;

                    p {
                        color: #fff;
                    }
                }

                .icons {
                    display: flex;
                    flex-direction: row;
                    gap: 25px;
                    margin-top: 1.8rem;

                    img {
                        width: 26px;
                    }
                }
            }

            .section-marketPlace {

                h4 {
                    color: #fff;
                    font-weight: bold;
                }

                .items {
                    display: flex;
                    flex-direction: column;
                    margin-top: 1.6rem;

                    p {
                        color: #fff;
                    }
                }
            }

            .section-links {
                h4 {
                    color: #fff;
                    font-weight: bold;
                }

                .items {
                    display: flex;
                    flex-direction: column;
                    margin-top: 1.6rem;

                    p {
                        color: #fff;
                    }
                }
            }
        }
    }
}