.navbar {
    position: fixed;
    width: 100%;
    height: 5rem;
    background-color: $bg-color;
    box-shadow: 0 3px 4px rgb(10, 10, 10);
    z-index: 500;

    @include screen(small){
        box-shadow: 0 4px 8px rgb(10, 10, 10);
    }

    &__container {
        width: 100%;
        height: 100%;
        padding: 10px 65px 0 56px;
        display: flex;
        justify-content: space-between;
        align-items: center;

         @include screen(small){
            padding: 10px 45px 0 45px;
         }
    }

    &__logo {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        align-items: center;

        img {
            width: 48px;
            margin-top: -4px;
        }

        h5 {
            color: #fff;
            font-weight: bold;
            margin-left: 10px;
        }
    }

    &__menuItems {
        height: 100%;
        width: 100%;
        padding: 0;
        margin-top: 5px;
        display: flex;
        align-items: center;

        ul {
            display: flex;
            flex-direction: row;
            gap: 20px;
            margin-top: 3px;

            li {
                color: #fff;
                padding: 5px;
                cursor: pointer;
            }

            #logout {
                width: 210px;
                display: flex;
                margin-left: 4%;
                justify-content: center;
                padding: 8px;
                background-color: $green;
                border-radius: 8px;
                white-space: nowrap;
                align-items: center;
            }
        }
    }
}

.menu-icons{

     #icon{
        font-size: 30px;
        color: $green;
     }
}

.openNav{
    height: max-content;
    padding-top: 3rem;
    padding-bottom: 3rem;
    transition: 0.15s ease-out;
}

.closeNav{
    height: 0;
    padding: 0;
    transition: 0.15s ease-in;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.788);
}


.navbar-toogle{
    position: fixed;
    overflow: hidden;
    top: 4rem;
    width: 100%;
    background-color: $bg-color;
    display: flex;
    z-index: 50;

    ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 3px;
        width: 100%;
        align-items: center;

        li {
            color: #fff;
            font-size: 18px;
            font-weight: bold;
            margin-top: 0.6rem;
            cursor: pointer;
        }

        #logout {
            width: 210px;
            display: flex;
            font-size: 18px;
            margin-left: 0%;
            justify-content: center;
            padding: 8px;
            background-color: $green;
            border-radius: 8px;
            white-space: nowrap;
            align-items: center;
        }
    }
}