$primary: #080808;
$black-color: #111111;
$bg-color: #131212;
$dark-grey: #2b2a2ad3;
$green: #00BF63;
$yellow : rgb(189, 189, 15);

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    list-style: none;
}

//mixin pour le responsive design
@mixin screen($breakpoint) {
    @if $breakpoint ==small {
        @media (max-width: 767px) {
            @content;
        }
    }

    @else if $breakpoint ==medium {
        @media (min-width: 768px) and (max-width: 1023px) {
            @content;
        }
    }

    @else if $breakpoint ==large {
        @media (min-width: 1024px) {
            @content;
        }
    }
}

@mixin screen-x($min , $max) {
    @media screen and (min-width: $min) and (max-width: $max) {
        @content;
    }
}
