.swiper-button {
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    position: relative;
    top: -16rem;
    z-index: 20;

    .btn {
        color: $bg-color;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 16px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 50%;
        font-weight: bold;
        background-color: #ffffffec;
    }
}

a{
    text-decoration: none;
}